In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle("../data/merge_every_article.pkl")

In [3]:
df.columns

Index(['뉴스 식별자', '일자', '언론사', '기고자', '제목', '통합 분류1', '통합 분류2', '통합 분류3',
       '사건/사고 분류1', '사건/사고 분류2', '사건/사고 분류3', '인물', '위치', '기관', '키워드',
       '특성추출(가중치순 상위 50개)', '본문', 'URL', '분석제외 여부', 'city'],
      dtype='object')

In [35]:
df_long = df.value_counts(subset = ['city', '통합 분류1']).rename_axis(['city', 'category']).to_frame('freq').reset_index()

In [36]:
df_long

     city       category    freq
0     광주시          지역>광주  138427
1     청주시          지역>충북  130644
2     천안시          지역>충남  110651
3     전주시          지역>전북  104042
4     제주시          지역>제주   84259
...   ...            ...     ...
6515  문경시   스포츠>축구>국가대표팀       1
6516  원주시  스포츠>야구>일본프로야구       1
6517  아산시          경제>외환       1
6518  영주시     국제>중동_아프리카       1
6519  나주시  스포츠>야구>일본프로야구       1

[6520 rows x 3 columns]

In [38]:
df_wide = df_long.pivot(index = 'city', columns = 'category')

In [39]:
df_wide.to_csv("../result/city_category_count.csv")